<h1>Szerkesztés</h1>
<form ng-submit="$ctrl.submit()">
    <input type="text" name="title" placeholder="Film cím..." ng-model="$ctrl.film.title">
    <input type="text" name="year" placeholder="Kiadás éve..." ng-model="$ctrl.film.year">
    <md-button type="submit">Mentés</md-button>
</form>

<md-button ng-click="$ctrl.delete()">Törlés</md-button>
<a href="#!/film/{{$ctrl.film.$id}}">Vissza</a>