<md-list>
    <md-list-item ng-repeat="film in $ctrl.films">
        <a href="#!/film/{{film.$id}}">
            <span class="film">{{film.title}}</span>
        </a>
    </md-list-item>
</md-list>
<md-button class="md-raised" ng-click="$ctrl.create()">Új film</md-button>